Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  Includes:
    IgnoreHeader: [Windows\ Kits.*, SDL3.*]
CompileFlags:
  Add: [
    -I.,
    -std=c17,
    -Wall, -Wextra, -Wconversion, -Wdouble-promotion, -Wno-unused-parameter, -Wno-unused-function, -Wno-sign-conversion,
  ]
