# .clangd configuration for ztracing

CompileFlags:
  Add:
    - -I.
    - -Ibazel-ztracing/external/+http_archive+imgui
    - -Wno-missing-field-initializers
    - -Wno-missing-designated-field-initializers

---
If:
  PathMatch: .*\.cc$
CompileFlags:
  Add:
    - -std=c++20
    - -Ibazel-ztracing/external/googletest+/googletest/include
    - -Ibazel-ztracing/external/googletest+/googlemock/include

---
If:
  PathMatch: .*\.(c|h)$
CompileFlags:
  Add:
    - -std=c23
