[submodule "third_party/cimgui"]
	path = third_party/cimgui
	url = https://github.com/cimgui/cimgui
[submodule "third_party/SDL"]
	path = third_party/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = git@github.com:madler/zlib
[submodule "third_party/tracy"]
	path = third_party/tracy
	url = git@github.com:wolfpld/tracy.git
